<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.khatribiru.mithokhana">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Mithokhana">
        <activity android:name=".ChangeMyLocation"></activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyATl5IivjnVixBP4d05Cmhrs1kfidHcYZc" />

        <activity android:name=".EditProfile" />
        <activity android:name=".VerifyPhone" />
        <activity android:name=".SignUp" />
        <activity android:name=".Home" />
        <activity android:name=".MyProfile" />
        <activity android:name=".Profile" />
        <activity android:name=".FoodDetail" />
        <activity android:name=".MenuDetail" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>